@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #788585;
}
.jumbotron {
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: #1F282D;
    color: #F2EFE9;
}
.h1 {
    color: #CCDAD1;
}
.contact {
    font-size: 32px;
    color: #F2EFE9;
}
.card{
    background-color: #CCDAD1;
    margin: .25rem;
}
a {
    color: #ffffff;
}
img {
    clip-path: circle(43.4% at 50% 50%);
}