@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #274268;
    color: #FCF7FF;
}

.jumbotron {
    padding-top: 3%;
    padding-bottom: 0%;
    background-color: #111618;
    color: #F2EFE9;
}

#CS {
    color: #8AC926;
}

#WashU {
    color: #E54B4B;
}

#JS {
    color: #FFCA3A;
}

#lang {
    color: #F194B4;
}

.tab {
    margin-left: 40px;
}

/* .h1 {
    color: #CCDAD1;
} */

.contact {
    font-size: 32px;
    color: #F2EFE9;
}

.card {
    background-color: #CCDAD1;
    margin: .25rem;
    width: 18rem;
}

a {
    color: #ffffff;
}

img {
    border-radius: 50px;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 2px solid #C4CAD0;
}

iframe {
    padding-top: 15px;
}

.resume {
    margin-bottom: 1rem;
    size: 115%;
}